@import 'modal';

.products {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: $metric-sm;
  padding-left: $metric-sm;

  &__details-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 30;
    overflow: hidden;
  }

  &__select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $metric-3xl;
  }

  &__select-label {
    padding: 10px;
    border: 1px solid $light-red;
    color: $black;
    font-size: $font-xmd;
    font-style: normal;
    font-weight: $font-medium;
    line-height: normal;
  }

  &__select-form {
    width: 127px;
    height: 46px;
    padding: 10px 40px;
    background-color: $light-red;
    color: $gray;
    font-size: $font-xmd;
    font-style: normal;
    font-weight: $font-bold;
    line-height: normal;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  &__list {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    row-gap: 35px;
    column-gap: 50px;
    margin-top: $metric-3xl;
    padding-bottom: 400px;
    width: 100%;
    min-height: 500px;
    list-style-type: none;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include laptop {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include desktop {
      max-width: 1684px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 484px;
  height: 300px;
  background-color: #bebebe;
  color: $black;
  font-size: $font-bmd;
  font-weight: $font-bold;
  line-height: 39.74px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: translateY(-10px);
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  }

  @include desktop {
    min-width: 50%;
    max-height: 350px;
    max-width: 371px;
  }
}
