@import 'articles';

.ingredients {
  &__headline {
    @include h2;
    margin-top: 50px;
  }

  &__small-headline {
    @include h3;
    margin-top: 100px;
  }

  &__main-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $metric-xs;
    margin-top: $metric-3xl;

    @include desktop {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__center-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 400px;
    height: auto;

    @include tablet {
      max-width: 700px;
    }

    @include laptop {
      width: 100%;
    }
  }

  &__buy-now-btn {
    @include button-red;
    position: absolute;
    bottom: 5%;
    z-index: 5;
  }

  &__image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index: 2;
  }
}

.parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-image: url('/src/assets/black-dog-image.png'),
    url('/src/assets/decorator-green.svg'),
    url('/src/assets/decorator-green.svg');
  background-attachment: scroll, scroll, scroll;
  background-repeat: no-repeat;
  background-position:
    center,
    calc(50% - 200px) calc(50% + 100px),
    calc(50% + 250px) calc(50% + 100px);

  @include tablet {
    background-attachment: fixed, fixed, fixed;
  }
}
