@import './base/';
@import './components/';

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: $primary_font_family;
  font-size: $font-sm;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: $metric-sm;
  padding-right: $metric-sm;
  background-color: $gray;
  scroll-margin-top: 122px;

  &:nth-child(even) {
    background-color: $white;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: $metric-md;
  align-items: center;
  justify-content: center;
}

.hr {
  width: 126px;
  height: 1px;
  background-color: $primary-text-color;
}

.hidden {
  display: none;
}
