$mobile-width: 360px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1280px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width + 1}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-width + 1 }) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width + 1 }) {
    @content;
  }
}
